In [2]:
#covariance tells you whether two variables move together.

#positive covariance --> X variable increases y also increases
#Negative covariance --> X variable increases y also decreases
#Zero covariance --> no relation b/w the variables
#NOTE:: covariance shows only direction not strength

In [3]:
import pandas as pd
df=pd.read_csv(r"C:\Users\HP\Downloads\study_marks.csv")
df

   Study_Hours  Marks
0          2.9   27.0
1          5.8   61.0
2          4.7   45.0
3          4.0   38.0
4          1.8   19.0
5          1.8    8.0
6          1.3    4.0
7          5.3   50.0
8          4.0   35.0
9          4.5   47.0

In [4]:
df.cov()

             Study_Hours       Marks
Study_Hours     2.481000   28.906667
Marks          28.906667  348.711111

# correlation

In [5]:
#Directoon + shows how strong the relationship is it shows +1 perfect positive relationship it shows -1 perfect negative relationship

In [6]:
df.corr() # find a correlation, it shows the strength and relationship, range is (-1,1)

             Study_Hours    Marks
Study_Hours      1.00000  0.98277
Marks            0.98277  1.00000

In [7]:
df.var()

Study_Hours      2.481000
Marks          348.711111
dtype: float64